@model QuanLyThuaGio.Api.Entities.Doantotnghiep

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Doantotnghiep</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Magv" class="control-label"></label>
                <select asp-for="Magv" class="form-control" asp-items="ViewBag.Magv"></select>
                <span asp-validation-for="Magv" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Ma" />
            <div class="form-group">
                <label asp-for="Malop" class="control-label"></label>
                <select asp-for="Malop" class="form-control" asp-items="ViewBag.Malop"></select>
                <span asp-validation-for="Malop" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sodetai" class="control-label"></label>
                <input asp-for="Sodetai" class="form-control" />
                <span asp-validation-for="Sodetai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sodoanpbien" class="control-label"></label>
                <input asp-for="Sodoanpbien" class="form-control" />
                <span asp-validation-for="Sodoanpbien" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Namhoc" class="control-label"></label>
                <input asp-for="Namhoc" class="form-control" />
                <span asp-validation-for="Namhoc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ghichu" class="control-label"></label>
                <input asp-for="Ghichu" class="form-control" />
                <span asp-validation-for="Ghichu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
